/* navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px, 7px;
    padding-bottom: 8px;
}

/* home section */

#home{
    height: 370px;
    padding: 3px 28px;
}

#home::before{
   height: 84%;
}

#home P{
    font-size: 13px;
}

/* Service */
#list{
    flex-direction: column;
}

#list .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
#list .box {
    padding: 14px;
    margin: 9px 0px;
    margin-bottom: 63px;
    margin-top: -36px;

}
#list .box img {
width: -webkit-fill-available;
}

#list {
    margin: 45px;
}
.service{
    margin: 41px;
}




/* client */

#client{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}


#client-section::before {
   margin-top: -79px;
}

#client-section h1{
    
}

/* contact */

#contact-box form{
    width: 80%;
}

/* button */

.btn{
    font-size: 13px;
    padding: 4px 8px;
}

#clients{
    overflow: hidden;
}