* {
    padding: 0;
    margin: 0;
}


/* body{
    background: url('img/food1.jpg');
}
.header {
    min-height: 100vh;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    position: relative;
    

} */

body {
    font-family: 'Baloo Bhai', cursive;

    /* margin: 0px;
  padding: 0px; */
    /* font-size: 110%; */
    background: url('img/food1.jpg');
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* margin: 0px;
          padding: 0px; */
            /* font-size: 110%;  */
            /* nav{
            display: flex;
            padding: 2% 6%;
            justify-content: space-between;
            align-items: center;
        } */

        /* .link ul {
            position: absolute;
            right: 34px;
            top: 60px;
            display: inline-block;
            border: 2px solid red; }*/

            
        /* nav.fa-times{
            display: block;
            color: #fff;
            margin: 50px;
            font-size: 22px;
            cursor: pointer;
        } */



        /* nav .fa{
            display: block;
            color: #fff;
            margin: 20px;
            font-size: 22px;
            cursor: pointer;
        } */

        /* .link ul li::after {
            content: "";
            width: 0%;
            height: 2px;
            background: rgb(rgb(230, 94, 94), green, blue);
            display: block;
            margin: auto;
            transition:0.5s;
        }

         .link ul li:hover::after {
            /* width: 100%; }
            */

             /* .bottom{
                width: 80px;
                margin: 100px;
                text-align: center;
                padding-top: 100px;

            } */

         /* #course h1{
                font-size: 36px;
                font-weight: 600;
          }

            #course p{
                color: #f777;
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                padding: 10px;

            }  */

            /* <!-- <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu(){
                navLinks.style.right = "0";
            }
    
            function hideMenu(){
                navLinks.style.right="-200px";
            }
        </script> -->
     */

